body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    border-radius: 5px;
}

.search {
    background-color:grey;
    justify-content: center;
}

#tasks {
    height: 400px;
}
.bar {  
    height: 50px;   
    display: flex;  
}

.task {
    border-bottom: 1px solid black;
    font-size: 1.5em;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}

.footer {
    border-top: 1px solid black;
    font-size: 1.5em;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}

button {
    width: 80px;
    height: 40px;
}
input {
    width: 100%;
    margin: 5px;
    border-radius: 5px;
}

.circle {
    border: 1px solid blue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

i.check {
    font-size: 25px;
}

.close {
    margin-left: auto;
}
i.hidden {
    display: none;
}

.hidden {
    display: none;
}
.check {
    display: flex;
}

button.active {
    background-color: blue;
}